h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 40px;
    margin: 5px;
    padding: 5px;
}

body {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%,
     rgba(255,0,0,1) 100%);
}

.contact-box {
    display: flex;
    flex-direction: column;
    height: 570px;
    width: 500px;
    border: 5px solid black;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.input-field {
    padding: 12px;
    margin: 15px;
    width: 85%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: red;
    font-size: 20px;
}

.textarea-field {
    width: 85%;
    height: 80px;
    padding-top: 5px;
}

.btn {
    border-radius: 15px;
    background-color: red;
    font-size: 20px;
    cursor: pointer;
    width: 90%;
    height: 7%;
}

/* Mobile S */
@media (max-width: 320px) {
    h2 {
        font-size: 28px;
        padding: 3px;
    }
    .contact-box {
        height: 520px;
        width: 100%;
        margin-top: 30px;
        border: 3px solid black;
    }
    .input-field {
        padding: 10px;
        margin: 10px;
        font-size: 16px;
    }
    .btn {
        font-size: 16px;
    }
}

/* Mobile M */
@media (min-width: 321px) and (max-width: 375px) {
    h2 {
        font-size: 32px;
        padding: 4px;
    }
    .contact-box {
        height: 540px;
        width: 100%;
        margin-top: 35px;
        border: 4px solid black;
    }
    .input-field {
        padding: 11px;
        margin: 12px;
        font-size: 18px;
    }
    .btn {
        font-size: 18px;
    }
}

/* Mobile L */
@media (min-width: 376px) and (max-width: 425px) {
    h2 {
        font-size: 36px;
    }
    .contact-box {
        height: 550px;
        width: 100%;
        margin-top: 40px;
    }
    .input-field {
        font-size: 18px;
    }
}